footer {
  text-align: center;
}
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contactNaam,
.contactMail {
  text-align: center;
}
.carousel-inner {
  carousel-transition-duration: 0.6s;
}