hr {
  height: 2px;
  background-color: #1ed370;
  color: black;
  border: none;
}
.navigation {
  overflow: hidden;
  background-color: #1ed370;
}
.navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navigation a:hover {
  background-color: #1ed3ca;
}

.navigation a.active {
  background-color: #27d31e;
}

.navigation a.icon {
  /* icoon rechts zetten */
  float: right;
  /* icoon verbergen */
  display: none;
}
@media screen and (max-width: 600px) {

  /* toon alleen het eerste anchor child element van .navigation */
  .navigation a:not(:first-child) {
      display: none;
  }

  /* icoon weer tonen wanneer window size kleiner is dan 600px */
  .navigation a.icon {
      display: block;
  }

  /* icoon rechtsboven plaatsen ipv onderaan */
  .navigation.responsive {
      position: relative;
  }

  .navigation.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }

  /* alle anchors tonen wanneer class responsive actief is */
  .navigation.responsive a {
      float: none;
      display: block;
      text-align: left;
  }
}
body{
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
h2, h3{
  font-weight: bold;
}
.copyR{
  text-align: center;
}